
:root{
    --main-orange:#f08d24;;
    --main-yellow: #fedd00;
    --main-blue: rgb(66, 220, 255);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
    font-family: 'Mukta';
}

body{
    background-color: var(--main-orange);
    font-family: 'Mukta';
}



/*Navigation */



.nav-container{
    min-height: 5.5rem;
    max-height: 7rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    overflow: hidden;
    align-items: center;
    grid-gap: 4px;
    background-color: var(--main-orange);
    position: fixed;

}

.nav-container img{

    height: 100%;
    width: auto;
}



.nav-container .nav-buttons{
    display: flex;
    justify-content: space-evenly;
    
}

.nav-container .navBtn{
    color: var(--main-yellow);
    background-color: var(--main-orange);
    font-size: 1.5rem;
    border-radius: 4px;
    padding: .4rem;
    min-width: 4.5rem;
    outline: none;
    border: none;

} 


.nav-container .navBtn:hover{

    opacity: 50%;
}

/* Shopping Stuff */

.shopping-icons{
    justify-self: right;
    margin-right: 2rem;
    padding: 5px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    position: relative;
    overflow: visible;

}

.shopping-icons span{
    color:black;
    font-size: 1.5rem;
    pointer-events: none;
}

.shopping-icons button{
    background-color: var(--main-orange);
    border: none;
    font-size: 1.5rem;
}



#down-check{
    font-size: 1rem;
    opacity: 0;
}



/* Hidden Checkout */
.hidden-checkout{
    border: 1px solid black;
    position: fixed;
    width: 340px;
    height: 500px;
    right: 1.5rem;
    top: 5.5rem;
    background-color: white;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    display: grid;
    justify-content: space-evenly;
    overflow: scroll;

}

.deleteBtn{
    color: white;
    background-color: red;
    border: 1px solid black;
    padding: .5rem;
    border-radius: 4px;
    margin: 15px;
}

.hidden-inside{
    display: flex;
    overflow: scroll;


}

.cartProduct{
    display: flex;
    border-bottom: 1px solid rgba(71, 66, 66, 0.2);
    align-items: center;
    padding: 0px 5px;
}

.cartProduct h3{
    font-size: 1.1rem;
    
    
}

.productTotal{
    display: grid;
    align-items: center;
    margin: auto;
    justify-content: space-between;

}

.productTotal h2{
    font-size: 1rem;
}

.productTotal > * {
    margin:0.2rem  1rem;

}

.productTotal span{
    color: red;
    font-size: 1rem;
}

.checkoutBtn{
    background-color: var(--main-blue);
    border: none;
    outline: none;
    width: 6rem;
    height: 2rem;
    border: 0.5px solid black;
}

.checkoutHeader{
    font-family: 'Permanent Marker';
    margin: 4px 0;
    height: 10px;
}

/* Main Container */


.first-container{
    height: 90vh;
    background:url(photos/enjoy-new1.jpg) no-repeat center center/cover;
}

.vid-holder{
    display: grid;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.vid-holder iframe{
    border: 2px solid white;
    padding: 1rem;
    border-radius: 6px;
}

/* Section 2 */

h1{
    color:white;
    font-size:2rem;
    text-align: left;
    margin: 3.5rem; 

}

.yel{
    color: #fedd00;
}


.second-container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5px;
    grid-gap: 5px;
}

.second-container > *{
    border: 1px solid black;
}

.second-container > div{
    display: flex;
    align-items: center;
    background-color: white;
    
}

.second-container > div > div > *{
    margin: .5rem;
}

.buy{
    display: block;
    padding: .5rem;
    background-color: var(--main-orange);
    outline: none;
    font-size: .9rem;
    border:none;
    border-radius: 2px;
}

.buy:hover{
    border: 1px solid black;
    opacity: 81%;
}

