
:root{
    --main-orange:#f08d24;;
    --main-yellow: #fedd00;
    --main-blue: rgb(66, 220, 255);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
    font-family: 'Mukta';
}

body{
    background-color: var(--main-orange);
    font-family: 'Mukta';
}



/*Navigation */



.nav-container{
    min-height: 5.5rem;
    max-height: 7rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    overflow: hidden;
    align-items: center;
    grid-gap: 4px;
    background-color: var(--main-orange);
    position: fixed;
    z-index: 2;

}

.nav-container img{

    height: 100%;
    width: auto;
}



.nav-container .nav-buttons{
    display: flex;
    justify-content: space-evenly;
    
}

.nav-container .navBtn{
    color: var(--main-yellow);
    background-color: var(--main-orange);
    font-size: 1.5rem;
    border-radius: 4px;
    padding: .4rem;
    min-width: 4.5rem;
    outline: none;
    border: none;

} 


.nav-container .navBtn:hover{

    opacity: 50%;
}



/* Shopping Stuff */

.shopping-icons{
    justify-self: right;
    margin-right: 2rem;
    padding: 5px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    position: relative;
    overflow: visible;

}

.shopping-icons span{
    color:black;
    font-size: 1.5rem;
    pointer-events: none;
}

.shopping-icons button{
    background-color: var(--main-orange);
    border: none;
    font-size: 1.5rem;
}


#down-check{
    font-size: 1rem;
    display: none;
}



/* Hidden Checkout */
.hidden-checkout{
    border: 1px solid black;
    position: fixed;
    width: 340px;
    height: 500px;
    right: 1.5rem;
    top: 5.5rem;
    background-color: white;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    display: grid;
    justify-content: space-evenly;
    overflow: auto;

}



.deleteBtn{
    color: white;
    background-color: red;
    border: 1px solid black;
    padding: .5rem;
    border-radius: 4px;
    margin: 15px;
}

.hidden-inside{
    display: flex;
    overflow: auto;
}

/* CartProduct added */

.addContainer{
    overflow:scroll;
}

.cartProduct{
    display: flex;
    border-bottom: 1px solid rgba(71, 66, 66, 0.2);
    align-items: center;
    padding: 0px 5px;
    margin: 3px 0;
}

.cartProduct h3{
    font-size: 1.1rem;
}

.cartProduct img{
    max-height: 5.2rem;
    width: auto;
}

.productTotal{
    display: grid;
    align-items: center;
    margin: auto;
    justify-content: space-between;

}

.productTotal h2{
    font-size: 1rem;
}

.productTotal > * {
    margin:0.2rem  1rem;

}

.productTotal span{
    color: red;
    font-size: 1rem;
}

.checkoutBtn{
    background-color: var(--main-blue);
    border: none;
    outline: none;
    width: 6rem;
    height: 2rem;
    border: 0.5px solid black;
}

.checkoutBtn:hover{
    opacity: 0.8;
    border: 2px solid black;

}


.checkoutHeader{
    font-family: 'Permanent Marker';
    margin: 4px 0;
    min-height: 10px;
}

/* Checkout Animation */

.checkoutAnimation{
    border: 1px solid black;
    position: fixed;
    width: 340px;
    height: 500px;
    right: 1.5rem;
    top: 5.5rem;
    background-color: white;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    display: none;
    overflow: auto;
}

.checkoutAnimation h3{
    color: var(--main-yellow);
    margin-top: 2rem;
    font-size: 2rem;
    font-family: 'Permanent Marker';
    text-shadow: 1px 1px black;

}

.checkoutAnimation img{
    max-width: 75%;
    max-height: auto;
    margin: auto;
    margin-top: 0;

}

.checkoutAnimation button{
    background-color: var(--main-orange);
    width: 90%;
    height: 80%;
    margin: auto;
    outline: none;
    border: 1px solid black;
    border-radius: .2rem;
    font-size: 1.2rem;
}

.checkoutAnimation button:hover{
    width: 91%;
    height: 81%;
}

/* Main Container */


.first-container{
    height: 90vh;
    width: 100%;
    background-color: rgba(250, 155, 14, 0.7);
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wallpaper-title{
    position: absolute;
    bottom: 5rem;
    right: 1.1rem;
    margin-right: 20px;
    font-size: 2.2rem;
    z-index: -2;

}

iframe{
    border: 5px ;
    padding: 1rem;
    border-radius: 6px;
    height: 55%;
    width: 50%;
    border: 5px solid white;
    background-color: black;
}

/* Section 2 */

h1{
    color:white;
    font-size:2.2rem;
    text-align: left;
    margin: 3.5rem; 
    text-transform: lowercase;

}

.yel{
    color: #fedd00;
}


.second-container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 15px;
    grid-gap: 10px;
}

.second-container > *{
    border: 1px solid black;
    min-width: 360px;
}

.second-container > div{
    display: flex;
    align-items: center;
    background-color: white;
    
}

.product {
    box-shadow: 0 10px 20px 10px rgba(0,0,0,0.3); 

}

.second-container > div > div > *{
    margin: .5rem;
}

.buy{
    display: block;
    padding: .5rem;
    background-color: var(--main-orange);
    outline: none;
    font-size: .9rem;
    border:none;
    border-radius: 2px;
}

.buy:hover{
    border: 1px solid black;
    opacity: 81%;
}

/* Slideshow Btns */


.exit-btn{
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    margin: 0px 0px;
    height: 2rem;
    width: 2rem;
    outline: none;
    display: none;
}



.slideshow-container i{
    font-size: 2rem;
    color: white;
}


.btn-right,
.btn-left{
    background-color: var(--main-yellow);
    width: 3rem;
    height: 4rem;
    outline: none;
    position: absolute;
    border: none;
    border-radius: 5px;
    display: none;
}

.btn-right{
    top: 50%;
    transform: translate(-25%);
}

.btn-left{
    top: 50%;
    transform:translate(-75%);
}

.btn-right:active,
.btn-left:active {
    background-color: var(--main-blue);
}




.slideshow-overlay p{
    margin: 20px;
    color: var(--main-yellow);
    font-family: "Mutka";
    font-size:2.5rem;
    font-weight: 600;
    text-shadow: 2px 2px black;
}



/*  Slideshow  */

.slideshow{
    display: flex;
    margin: 145px 20px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 500px;
    overflow: visible;

    
}

.regrowth-container{
    max-width: auto;
    max-height: 500px;
    min-height: 300px;
    min-width: auto;
    margin-left: 20px;


}

.slideshow-container{
    /* max-height: 100%; */
    height: 500px;
    /* min-height: 300px; */
    /* min-width: 360px; */
    /* max-width: 380px; */
    width: 390px;
    position: relative;
    border: 5px solid rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    margin: 0 1rem;
    
}

.slideshow-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(243, 146, 0, 0.7);
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
   
}



.slideshow-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    
}

.regrowth{
  max-height: inherit;
  
}

/* Footer */

.footer{
    width: 100%;
    max-height: 100px;
    min-height: 70px;
    background-color: var(--main-blue);
    box-shadow: 0 -10px 20px 10px rgba(0,0,0,0.3); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    filter: contrast(90%);
}

.footer-icons{
    font-size: 1.5rem;
}

.footer-icons i{
    color: rgba(71, 66, 66, 0.7)
}

.footer-links a{
    text-decoration: none;
    /* color: rgb(108, 155, 153); */
    color: black;
    font-family: 'Permanent Marker';
}

.separater{
    color: var(--main-orange);
    font-size: 1.2rem;
    font-weight: bolder;
}

.footer-sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    justify-content: center;
}

.footer-sign-up h4{
    color: rgba(0,0,0,.65);
    font-size: 16px;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.signup-container input{
    height: 2rem;
    width: 10rem;
    border-radius: 4px;
    border: none;
    outline: none;
}

.signup-container button{
    height: 2rem;
    width: 4rem;
    background-color: var(--main-orange);
    border-radius: 4px;
    outline: none;
    color: var(--main-yellow);
    border: none;
    
}

/* Utility Classes */

.hide{
    opacity: 1;
    height: 0;
}

/* Media Queries */

@media(max-width: 1100px ){
    .second-container{
        grid-template-columns: auto auto;
    }

    .second-container > * {
        max-width: 480px;
    }

    iframe{
        height: 54%;
        width: 65%;
    }
    
    .slideshow{
        flex-direction: column;
        height: 120vh;
        margin-top: 200px;
        
    }
    .slideshow-container{
        min-height: 500px;
        margin-bottom: 80px;
        min-width: auto;
        margin-bottom: 100px;
        
    }

    .regrowth{
        max-width: 650px;
    }

    .hidden-checkout{
        z-index: 4;
    }

    
}

@media(max-width: 800px ){

    .second-container{
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        grid-gap: 25px;
    }

    iframe{
        height: 50%;
        width: 65%;
        margin-top: 20px;
    }

    .nav-buttons{
        display: none;
    }

    .navBtn{
        display: none;
    }

    .nav-container{
        justify-content: space-around;
    }

    .shopping-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    
    }

    .footer-icons{
        display: none;
    }

    .footer-sign-up h4{
        display: none;
    }

    .signup-container{
        display: flex;
        flex-direction: row;
    }

    .signup-container input{
        margin-right: 2px;
    }

    .footer-links{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap:15px;
        margin:auto;
    }

    .shopping-icons span{
        font-size: 18px;
        margin: 0 5px;
    }

    .shopping-icons button{
        margin: 0 2px;
        font-size: 20px;
    }

    .wallpaper-title{
        font-size: 1.5rem;
    }

    h1{
        font-size: 1.7rem;
    }
}

    @media(max-width: 740px ){
        .separater{
            display: none;
        }

        .hidden-checkout{
            width: 272px;
            height: 400px;
            font-size: 14px;
            justify-content: space-evenly;
        }

        .deleteBtn{
            padding: .3rem;
            border-radius: 4px;
            margin: 10px;
        }

        iframe{
        height: 40%;
        width: 85%;
        }

        .signup-container button{
            margin-right: 15px;
        }
       
        .regrowth{
            max-width: 470px;
        }

    }

    @media(max-width: 500px ){
        .footer-sign-up{
            display: none;

        }

        

    }

    @media(max-width: 420px){

        .nav-container{
            min-height: 3rem;
            max-height: 5rem;
        }


        .regrowth-container{
            max-width: auto;
            max-height: 400px;
            min-height: 200px;
            max-width: 410px;
            margin-left: 0;
            margin-bottom: 0;
        }

        .slideshow-container{
            min-height: 220px;
            max-height: 480px;
            min-width: 250px;
            max-width: 340px;

            max-height: auto;
            margin-bottom: 80px;
            min-width: auto;
            margin-bottom: 100px;
            
        }

        .regrowth{
            max-width: 410px;
        }

        .wallpaper-title{
            font-size: 1rem;
            bottom: 3rem;
            right: 1.1rem;
        }

        h1{
            font-size: 1.2rem;
        }


        .regrowth{
            max-width: 320px;
        }
    }